
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Extend Your Battery Life</h1>

  <p>This project is focused on extending the battery life of the laptop. Its mainly for the Lithium-ion batteries. This tool is currently availble only for the linux system. </p>
  <p><a href=" http://juggernaut451.github.io/battery_life" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-code"></i> Arduino</h2>
      <p>Arduino is an open-source platform used for building electronics projects. Arduino consists of both a physical programmable circuit board (often referred to as a microcontroller) and a piece of software, or IDE (Integrated Development Environment) that runs on your computer, used to write and upload computer code to the physical board.</p>
      <p><a class="btn btn-default" href="https://www.arduino.cc/">Official website &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> Relay</h2>
      <p>A relay is an electrically operated switch. Many relays use an electromagnet to mechanically operate a switch, but other operating principles are also used, such as solid-state relays. Relays are used where it is necessary to control a circuit by a low-power signal (with complete electrical isolation between control and controlled circuits), or where several circuits must be controlled by one signal.</p>
      <p><a href="https://en.wikipedia.org/wiki/Relay" class="btn btn-default" href="#">Learn more &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i> Flask</h2>
      <p>Flask is a micro webdevelopment framework for Python. </p>
      <p><a href="http://flask.pocoo.org" class="btn btn-default" href="#">Official website &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

