
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>
      <p>This project is entirely focused on conservation of energy by computational methods. The reason behind this domain of interest for the project was essentially based on the fact that among all the energy that is provided to be of use for our daily needs, a lot of that energy instead is being wasted. 
Here, our source of energy will be our personal computers which are an instrument of daily need and also consume sufficiently ample amount of energy basically in the form of electrical energy.
There will be two modules of focus in the project, the first module will be to enable an auto cut-off after the laptop has reached its charge of 80% the charge will again be started as soon as the charge has fallen down to 50%. All of this process will be regulated by an algorithm that will measure the input power and will manage the auto cuts. The data will be managed with the help of an arduino and a relay.</p>
    </div>
</div>
{% endblock %}

